build/
gen/
private
gradle/*
!gradle/*.gradle
!gradle/wrapper
!gradle/dependencies
!gradle/dependencies/*
.gradle
.idea/*
!.idea/codeStyles/
!.idea/copyright/
local.properties
hs_err*
report.*.json
.DS_Store
._*
.fuse*
